<thead>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Tel Number</th>
  </tr>
</thead>
<tbody>
  {{#each .}}
    <tr>
      <td>{{id}}</td>
      <td>{{firstName}}</td>
      <td>{{lastName}}</td>
      <td>{{email}}</td>
      <td>{{telNumber}}</td>
    </tr>
  {{/each}}
</tbody>
